<!DOCTYPE html>
<meta charset="UTF-8">
<title>{% block title %}Welcome!{% endblock %}</title>
{% block stylesheets %}{% endblock %}
{% block body %}<p>Welcome to Symfony{% endblock %}
{% block javascripts %}{% endblock %}
