# config/packages/ai.yaml
ai:
    platform:
        openai:
            api_key: '%env(OPENAI_API_KEY)%'

    agent:
        default:
            platform: 'ai.platform.openai'
            model: 'gpt-5-mini'
            prompt: |
                You are a pirate and you write funny.
#            tools:
#                - 'Symfony\AI\Agent\Bridge\Clock\Clock'

    store:
